body {
    background-color: #EFFEFB;
    font-family: sans-serif;
}

/* Marca */
.brand {
    color: #00A198 !important;
    font-weight: 700;
}

/* Botón login */
.btn-login {
    background-color: #00A198;
    color: white;
    padding: 10px 25px;
    border-radius: 12px;
    text-decoration: none;
}

.btn-login:hover {
    opacity: .9;
}

/* HERO */
.hero-section {
    padding: 80px 0;
}

.hero-title {
    color: #003233;
}

/* Botón explorar */
.btn-explorar {
    background-color: #1DE4D1;
    color: #003233;
    font-size: 1.2rem;
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
}

.btn-explorar:hover {
    opacity: .9;
}

/* FEATURES */
.feature-card {
    border-top-width: 6px;
    border-radius: 20px;
}

.feature-1 {
    border-top-color: #00A198;
}

.feature-2 {
    border-top-color: #1DE4D1;
}

.feature-3 {
    border-top-color: #003233;
}
.logo{
    width: 60px;
    height: 60px;

}
/*------------css login--------------------------------*/
/* Fondo con degradado */
body {
    background: linear-gradient(113deg, rgba(13, 110, 253, 0.25), #eff3ff);      
    height: 100vh;
}

/* Card */
.login-card {
    width: 100%;
    max-width: 420px;
    border-radius: 15px;
}

/* Ojito */
.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-5px);
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}
/*funcion hover*/
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-hover:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.custom-card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform .3s ease, box-shadow .3s ease;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}





