body {
    background-color: #EFFEFB;
    font-family: sans-serif;
}

/* Marca */
.brand {
    color: #00A198 !important;
    font-weight: 700;
}

/* Botón login */
.btn-login {
    background-color: #00A198;
    color: white;
    padding: 10px 25px;
    border-radius: 12px;
    text-decoration: none;
}

.btn-login:hover {
    opacity: .9;
}

/* HERO */
.hero-section {
    padding: 80px 0;
}

.hero-title {
    color: #003233;
}

/* Botón explorar */
.btn-explorar {
    background-color: #1DE4D1;
    color: #003233;
    font-size: 1.2rem;
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
}

.btn-explorar:hover {
    opacity: .9;
}

/* FEATURES */
.feature-card {
    border-top-width: 6px;
    border-radius: 20px;
}

.feature-1 {
    border-top-color: #00A198;
}

.feature-2 {
    border-top-color: #1DE4D1;
}

.feature-3 {
    border-top-color: #003233;
}
.logo{
    width: 60px;
    height: 60px;

}
/*------------css login--------------------------------*/
.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}


